*{
    padding: 0px;
    margin: 0px;
}

header > div#img{
    background-image: url(imagens/coralghome.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-attachment: fixed;
    margin-top: -25px;
}

b{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10vw;
}

#c1{
    color: blue;
}

#c2{
    color: dodgerblue;
}

#blackbox{
    background-color: rgba(0, 0, 0, 0.603);
    height: 350px;
}

#titlebox{
    width: 50%;
    margin: auto;
}

header p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
}

menu > div{
    display: inline-block;
    font-size: 1.3em;
}

header input{
    padding: 10px;
    background-color: white;
    color: dodgerblue;
    font-weight: bolder;
    border-color: dodgerblue;
    display: block;
    width: 100%;
    cursor: pointer;
}

header input:hover{
    color: white;
    background-color: dodgerblue;
    transition: all 0.5s;
    top: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}


menu{
    display: none;
}

i#burguermenu{
    display: block;
    text-align: center;
    padding: 5px;
    background-color: dodgerblue;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}

i#burguermenu:hover{
    background-color: rgb(0, 0, 0);
    color: dodgerblue;
}















































@media screen and (min-width: 768px) and (max-width: 992px){

    header input{
        padding: 10px;
        background-color: white;
        color: dodgerblue;
        font-weight: bolder;
        border-color: none;
        cursor: pointer;
        width: 15%;
        display: inline-block;
        margin-bottom: 10px;
    }
    
    header input:hover{
        color: white;
        background-color: dodgerblue;
        transition: all 0.5s;
        top: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
    }

    i#burguermenu{
        display: transparent;
    }

    menu{
        display: block;
        margin-top: 25px;
    }
}

@media screen and (min-width: 992px){

    header input{
        padding: 10px;
        background-color: white;
        color: dodgerblue;
        font-weight: bolder;
        border-color: transparent;
        width: 15%;
        display: inline-block;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    header input:hover{
        color: white;
        background-color: dodgerblue;
        transition: all 0.5s;
        top: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
    }

    i#burguermenu{
        display: none;
    }

    menu{
        display: block;
        margin-top: 25px;
    }
}