body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#enviar{
    margin: auto;
    background-color: black;
    width: 180px;
}

#enviarbtn{
    width: 180px;
    background-color: white;
    color: blue;
    border-color: blue;
    transition: all 0.5s;
}

#enviarbtn:hover{
    background-color: blue;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    body{
        background-color: blue;
    }

    section{
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.425) 5px 5px 5px;
    }

    #divimg{
        background-image: url(imagens/peixe-login.avif);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 250px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #divtext{
        max-width: 600px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
    }
}










































@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-color: blue;
        
    }

    section{
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.425) 5px 5px 5px;
        width: 700px;
        height: 450px;
    }


    #divimg{
        background-color: rgb(132, 165, 42);
        width: 40%;
        height: 450px;
        display: inline-block;
        background-image: url(imagens/peixe-login.avif);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    #divtext{
        position: relative;
        position: relative;
        top: -215px;
        width: 400px;
        height: 450px;
        display: inline-block;
    }

}
































@media screen and (min-width: 992px){
    *{
        padding: 0px;
        margin: 0px;
    }
    
    body{
        background-image: linear-gradient(to bottom, blue, green);
        width: 100vw;
        height: 100vh;
    }

}