*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#enviar{
    margin: auto;
    width: 90%;
    margin-top: 30px;
}

#enviarbtn{
    width: 100%;
    background-color: white;
    color: purple;
    border-color: purple;
    transition: all 0.5s;
}

#enviarbtn:hover{
    background-color: purple;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#forgotpassword{
    width: 90%;
    background-color: white;
    color: purple;
    border-color: purple;
    transition: all 0.5s;
    margin: auto;
    display: block;
    cursor: pointer;
    margin-top: 20px;
}

input{
    padding: 10px;
    border-radius: 10px;
}

section{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.425) 5px 5px 5px;
    width: 90%;
}

#divimg{
    background-image: url(imagens/peixe-login.avif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
}

.divinputususen{
    background-color: purple;
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.inputususen{
    margin-top: 0px;
    width: 50%;
    display: inline-block;
    margin: auto;
    height: 100%;
}

i{
    color: white;
    font-size: 2em;
    padding: 5px;

}

@media screen and (max-width: 768px){
    body{
        background-color: blue;
    }

    #divtext{
        max-width: 600px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
        display: block;
    }

    #logo{
        width: 100px;
        margin-top: 30px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-color: blue;
        
    }

    section{
        width: 90%;
    }


    #divimg{

        width: 30%;
        height: 450px;
        display: inline-block;
        background-image: url(imagens/peixe-login.avif);
        float: left;
        border-radius: 20px 0px 0px 20px;
    }
    
    #divtext{
        width: 70%;
        height: 450px;
        display: block;
        float: right;
        margin: auto;
    }

    
}

@media screen and (min-width: 992px){

    
    body{
        background-image: linear-gradient(to bottom, blue, green);
        width: 100vw;
        height: 100vh;
    }

    section{

        width: 90%;
    }

    #divimg{
        width: 50%;
        height: 450px;
        display: inline-block;
        float: right;
        border-radius: 0px 20px 20px 0px;
    }

    #divtext{
        width: 50%;
        height: 450px;
        display: block;
        float: left;
        margin: auto;
    }
    
    #logo{
        margin: 30px;
    }
}
